bernhard>=0.1
celery>=3.0.24
pip==1.4.1
git+ssh://git@github.com/Deca-Technologies/painite.git#egg=painite-0.2.2
git+ssh://git@github.com/Deca-Technologies/purpurite.git#egg=purpurite-0.2.2
git+ssh://git@github.com/Deca-Technologies/xenotime.git#egg=xenotime-0.2.2
